<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <title>E learning</title>
  </head>
  <body>
    <header>
      <div class="container-lg px-0 px-lg-5 mx-lg-auto mx-0">
        <nav class="navbar navbar-expand-md navbar-light">
          <div class="container-fluid">
            <div class="logo-E bg-primary rounded-3 py-1">
              <a class="navbar-brand mx-0 p-2" href="#">
                <i class="fa-solid fa-book-open fa-2 text-light"></i>
              </a>
            </div>
            <div class="fw-bolder px-3">LEARNING</div>
            <!-- <div class="name-logo fw-bold pe-2">LEARNING</div> -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 my-md-auto mb-lg-0 fw-medium">
                <li class="nav-item mx-3">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Home</a
                  >
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link" href="#">Course</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link" href="#">Service</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link" href="#">Contact</a>
                </li>
                <button
                  type="button"
                  class="btn btn-outline-primary text-dark mx-2 px-4 mb-3 mb-md-0"
                >
                  Login
                </button>
                <button type="button" class="btn btn-primary mx-2 pe-3">
                  Register
                </button>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="container-lg text-center mt-5 px-0 px-lg-5">
        <div class="container-contact d-none d-md-block">
          <div class="row">
            <div class="col-6">
              <h1 class="fw-bolder fs-9 text-end">
                Learn more and make success the result
              </h1>
            </div>
            <div class="col-6 text-end p-2">
              <h4 class="text-primary bg-light p-2">
                - The best E-learning Platform
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
                eiusmod tempor incidunt labore et dolore magna aliqua eiusmod
                tempor eiusmod.
              </p>
              <button type="button" class="btn btn-primary p-2 px-3 rounded-4">
                Show all Courses
              </button>
            </div>
          </div>
        </div>
        <div class="container-video my-5">
          <div class="row">
            <div class="col-12 col-sm-9 text-end">
              <img
                src="assest/imges/bai-giang-e-learning.jpg"
                alt=""
                srcset=""
                class="img-fluid rounded-4"
              />
            </div>
            <div
              class="col-12 col-sm-3 d-flex flex-sm-column justify-content-between ps-lg-5 py-0 py-lg-3"
            >
              <div class="item-01">
                <h1 class="text-primary">15+</h1>
                <p class="m-0 px-2">Total branches opened in last year</p>
              </div>
              <div class="item-01">
                <h1 class="text-primary">5K+</h1>
                <p class="m-0 px-2">New students in last 30 days</p>
              </div>
              <div class="item-01">
                <h1 class="text-primary">1.5K+</h1>
                <p class="m-0 px-2">New students in last 30 days</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container-lg mt-5 px-0 px-sm-4 px-lg-5 text-center">
        <div class="container">
          <h2>Our Featured Courses</h2>
          <p class="mb-3 mb-md-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
            eiusmod tempor incidunt labore et dolore magna aliqua eiusmod tempor
            eiusmod.
          </p>
        </div>
        <div class="container-lg">
          <div class="row justify-content-between">
            <div class="card col p-2">
              <img
                src="assest/imges/54981.png"
                class="card-img-top rounded-3 img-fluid"
                alt="..."
              />
              <div class="card-body p-0 p-md-2">
                <div class="name-prog d-flex justify-content-between">
                  <button type="button" class="btn btn-light">
                    Development
                  </button>
                  <a href="#" class="text-decoration-none fw-bold">$225</a>
                </div>
                <h5 class="text-end py-2">
                  Become a professional designer be with passion & dignity
                </h5>
                <div class="progaming d-flex justify-content-between">
                  <div class="leasson">
                    <i class="fa-sharp fa-solid fa-book-open"></i> 20 leassons
                  </div>
                  <div class="student">
                    <i class="fa-solid fa-user-group"></i> 237 Students
                  </div>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-body border-0 p-0 p-md-2"
              >
                <div class="ratting-start py-3">
                  5.0 <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>
                  <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>&nbsp;(2,589)
                </div>
                <div class="pt-4 py-md-1">
                  <img
                    src="assest/imges/Frame93.svg"
                    alt=""
                    srcset=""
                    width="85%"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="card col p-2 mx-2 mx-md-4">
              <img
                src="assest/imges/948156.png"
                class="card-img-top rounded-3 img-fluid"
                alt="..."
              />
              <div class="card-body p-0 p-md-2">
                <div class="name-prog d-flex justify-content-between">
                  <button type="button" class="btn btn-light">
                    UI/UX Design
                  </button>
                  <a href="#" class="text-decoration-none fw-bold">$180</a>
                </div>
                <h5 class="text-end py-2">
                  Java progamming A-Z fully classes with full task
                </h5>
                <div class="progaming d-flex justify-content-between">
                  <div class="leasson">
                    <i class="fa-sharp fa-solid fa-book-open"></i> 20 leassons
                  </div>
                  <div class="student">
                    <i class="fa-solid fa-user-group"></i> 237 Students
                  </div>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-body border-0 p-0 p-md-2"
              >
                <div class="ratting-start py-3">
                  5.0 <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>
                  <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>&nbsp;(1,5559)
                </div>
                <div class="pt-3 py-md-1">
                  <img
                    src="assest/imges/Frame93.svg"
                    alt=""
                    srcset=""
                    width="85%"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="card col p-2 d-none d-sm-block">
              <img
                src="assest/imges/1581486940.png"
                class="card-img-top rounded-3 img-fluid"
                alt="..."
              />
              <div class="card-body p-0 p-md-2">
                <div class="name-prog d-flex justify-content-between">
                  <button type="button" class="btn btn-light">
                    Art $ Craft
                  </button>
                  <a href="#" class="text-decoration-none fw-bold">$225</a>
                </div>
                <h5 class="text-end py-2">
                  You will fell in love with this mustly if you have desire
                </h5>
                <div class="progaming d-flex justify-content-between">
                  <div class="leasson">
                    <i class="fa-sharp fa-solid fa-book-open"></i> 20 leassons
                  </div>
                  <div class="student">
                    <i class="fa-solid fa-user-group"></i> 237 Students
                  </div>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-body border-0 p-0 p-md-2"
              >
                <div class="ratting-start py-3">
                  5.0 <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>
                  <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>&nbsp;(4,400)
                </div>
                <div class="pt-3 py-md-1">
                  <img
                    src="assest/imges/Frame93.svg"
                    alt=""
                    srcset=""
                    width="85%"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-between mt-2 mt-md-4">
            <div class="card col p-2">
              <img
                src="assest/imges/21658.png"
                class="card-img-top rounded-3 img-fluid"
                alt="..."
              />
              <div class="card-body p-0 p-md-2">
                <div class="name-prog d-flex justify-content-between">
                  <button type="button" class="btn btn-light">Lifestyle</button>
                  <a href="#" class="text-decoration-none fw-bold">$228</a>
                </div>
                <h5 class="text-end py-2">
                  Be passionated with your reguarly exercise and stay fit
                </h5>
                <div class="progaming d-flex justify-content-between">
                  <div class="leasson">
                    <i class="fa-sharp fa-solid fa-book-open"></i> 20 leassons
                  </div>
                  <div class="student">
                    <i class="fa-solid fa-user-group"></i> 237 Students
                  </div>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-body border-0 p-0 p-md-2"
              >
                <div class="ratting-start py-3">
                  5.0 <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>
                  <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>&nbsp;(2,539)
                </div>
                <div class="pt-3 py-md-1">
                  <img
                    src="assest/imges/Frame93.svg"
                    alt=""
                    srcset=""
                    width="85%"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="card col p-2 mx-2 mx-md-4">
              <img
                src="assest/imges/89416.png"
                class="card-img-top rounded-3 img-fluid"
                alt="..."
              />
              <div class="card-body p-0 p-md-2">
                <div class="name-prog d-flex justify-content-between">
                  <button type="button" class="btn btn-light">Business</button>
                  <a href="#" class="text-decoration-none fw-bold">$320</a>
                </div>
                <h5 class="text-end py-2">
                  Grow your business by mastered in some technique
                </h5>
                <div class="progaming d-flex justify-content-between">
                  <div class="leasson">
                    <i class="fa-sharp fa-solid fa-book-open"></i> 20 leassons
                  </div>
                  <div class="student">
                    <i class="fa-solid fa-user-group"></i> 237 Students
                  </div>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-body border-0 p-0 p-md-2"
              >
                <div class="ratting-start py-3">
                  5.0 <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>
                  <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>&nbsp;(2,3399)
                </div>
                <div class="pt-3 py-md-1">
                  <img
                    src="assest/imges/Frame93.svg"
                    alt=""
                    srcset=""
                    width="85%"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="card col p-2 d-none d-sm-block">
              <img
                src="assest/imges/anh-khoi-nghiep.png"
                class="card-img-top rounded-3 img-fluid"
                alt="..."
              />
              <div class="card-body p-0 p-md-2">
                <div class="name-prog d-flex justify-content-between">
                  <button type="button" class="btn btn-light">Marketing</button>
                  <a href="#" class="text-decoration-none fw-bold">$225</a>
                </div>
                <h5 class="text-end py-2">
                  Top 10 tips to grow up audience to progress business
                </h5>
                <div class="progaming d-flex justify-content-between">
                  <div class="leasson">
                    <i class="fa-sharp fa-solid fa-book-open"></i> 20 leassons
                  </div>
                  <div class="student">
                    <i class="fa-solid fa-user-group"></i> 237 Students
                  </div>
                </div>
              </div>
              <div
                class="card-footer d-flex justify-content-between bg-body border-0 p-0 p-md-2"
              >
                <div class="ratting-start py-3">
                  5.0 <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>
                  <i class="fa-solid fa-star text-primary"></i
                  ><i class="fa-solid fa-star text-primary"></i>&nbsp;(4,5609)
                </div>
                <div class="pt-3 py--md1">
                  <img
                    src="assest/imges/Frame93.svg"
                    alt=""
                    srcset=""
                    width="85%"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="container-lg mt-5 px-0 px-sm-4 px-lg-5 text-center mt-3 mt-md-5"
      >
        <div class="row">
          <div class="col-12 col-md">
            <h2 class="fw-bolder text-end">
              We Make Your Learning Through Awesome
            </h2>
            <p class="text-end">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
              eiusmod tempor incidunt labore et dolore magna aliqua eiusmod
              tempor eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed to eiusmod
            </p>
            <p class="text-end">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
              eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim.
            </p>
            <div class="d-flex">
              <div class="item-4 px-4">
                <div class="fs-2 fw-bolder text-primary">15k+</div>
                <div class="p-2">Student</div>
              </div>
              <div class="item-4 text-center px-4">
                <div class="fs-2 fw-bolder text-primary">125+</div>
                <div class="p-2">Courses</div>
              </div>
              <div class="item-4 text-center px-4">
                <div class="fs-2 fw-bolder text-primary">200+</div>
                <div class="p-2">Countries</div>
              </div>
            </div>
          </div>
          <dil class="col-md my-4 my-md-0">
            <div class="">
              <div class="d-flex">
                <div class="rounded-4">
                  <img
                    src="assest/imges/Frame26.png"
                    alt=""
                    class="rounded-4"
                  />
                </div>
                <div class="text-end pe-3">
                  <h5>
                    Over 5.8k<br />
                    Video Courses
                  </h5>
                </div>
              </div>
              <div class="text-end py-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
                eiusmod tempor incidunt labore et dolore magna aliqua eiusmod
                tempor eiusmod. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit
              </div>
            </div>
            <div class="my-2 my-md-3">
              <div class="d-flex">
                <div class="rounded-4">
                  <img
                    src="assest/imges/Frame25.png"
                    alt=""
                    class="rounded-4"
                  />
                </div>
                <div class="text-end pe-3">
                  <h5>
                    World Best<br />
                    Instructors Courses
                  </h5>
                </div>
              </div>
              <div class="text-end py-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
                eiusmod tempor incidunt labore et dolore magna aliqua eiusmod
                tempor eiusmod. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit
              </div>
            </div>
            <div class="">
              <div class="d-flex">
                <div class="rounded-4">
                  <img
                    src="assest/imges/Frame27.png"
                    alt=""
                    class="rounded-4"
                  />
                </div>
                <div class="text-end pe-3">
                  <h5>
                    Over 20k<br />
                    Active Student
                  </h5>
                </div>
              </div>
              <div class="text-end py-2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
                eiusmod tempor incidunt labore et dolore magna aliqua eiusmod
                tempor eiusmod. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit
              </div>
            </div>
          </dil>
        </div>
      </div>
      <div class="container-lg my-1 my-md-5 px-0 px-sm-4 px-lg-5 text-center">
        <h2>Some Best Books</h2>
        <p class="mb-3 mb-md-5">
          Lorem ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy
        </p>
        <div class="row column-gap-0 column-gap-md-3">
          <div class="col-5 col-sm m-2 p-2 border border-1 rounded-3">
            <img
              src="assest/imges/jscrip.png"
              alt=""
              srcset=""
              class="w-75"
            />
          </div>
          <div class="col-5 col-sm m-2 p-2 border border-1 rounded-3">
            <img
              src="assest/imges/img907_2.png"
              alt=""
              srcset=""
              class="w-75"
            />
          </div>
          <div class="col-5 col-sm m-2 p-2 border border-1 rounded-3">
            <img
              src="assest/imges/english.png"
              alt=""
              srcset=""
              class="w-75 h-100"
            />
          </div>
          <div class="col-5 col-sm m-2 p-2 border border-1 rounded-3">
            <img
              src="assest/imges/h4661.png"
              alt=""
              srcset=""
              class="w-75 h-100"
            />
          </div>
        </div>
      </div>
      <div class="container-lg px-0 px-sm-4 px-lg-5">
        <div class="row">
          <div class="col-12 col-md pe-4 p-md-0">
            <h2 class="fw-bolder">Get more close with your courses.</h2>
            <p class="text-end ps-sm-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
              eiusmod tempor incidunt labore et dolore magna aliqua eiusmod
              tempor eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit, sed to eiusmod
            </p>
            <p class="text-end ps-sm-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
              eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim.
            </p>
            <div class="list_check">
              <span class="d-flex">
                <img
                  src="assest/imges/Frame93.svg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
                <h6 class="px-3 py-2 m-0">Detail description of each course</h6>
              </span>
              <span class="d-flex my-2">
                <img
                  src="assest/imges/Frame93.svg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
                <h6 class="px-3 py-2 m-0">Easy to understand language</h6>
              </span>
              <span class="d-flex">
                <img
                  src="assest/imges/Frame93.svg"
                  alt=""
                  class="img-fluid rounded-circle"
                />
                <h6 class="px-3 py-2 m-0">Simple and easy to learn courses.</h6>
              </span>
            </div>
            <button type="button" class="btn btn-primary my-4">
              Start learning now
            </button>
          </div>
          <div class="col p-0">
            <div class="row">
              <div class="image_teamwork">
                <img
                  src="assest/imges/teamwork.png"
                  alt=""
                  width="100%"
                  class="img-fluid"
                />
                <div class="col-5 p-2 position-absolute video_learn">
                  <img
                    src="assest/imges/bai-giang-e-learning.jpg"
                    alt=""
                    width="100%"
                    class="rounded-3"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-lg px-0 px-sm-4 px-lg-5 mt-1 mt-md-5">
        <div class="row contact-join rounded-4">
          <div class="col pe-5 pt-5 pb-3">
            <h2 class="text-light fw-bold py-1">Ready to join...</h2>
            <p class="text-light fw-500 py-1">
              Aenen tempor torotr in metus pretium, sed faucibus ligula accumsan
              viavamus consequat.
            </p>
          </div>
          <div class="col text-center mt-5">
            <button
              type="button"
              class="rounded-3 btn btn-light mt-4 px-4 py-2"
            >
              Register Now
            </button>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <!-- Footer -->
      <footer class="text-center text-lg-start text-muted">
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div
                class="col-6 col-md-3 col-lg-4 mx-auto mb-4 order-1 order-md-1"
              >
                <!-- Content -->
                <span class="d-flex">
                  <div class="logo-E bg-primary rounded-3 py-1 px-2">
                    <i class="fa-solid fa-book-open fa-2 text-light"></i>
                  </div>
                  <div class="fw-bolder px-2">LEARNING</div>
                </span>
                <p class="text-end py-3">
                  Fuses sit amet justo enimsed ullamcorper sem ut set
                  scelerisqueFuses sit amet justo scelerisque Fuses scelerisque
                </p>
              </div>
              <!-- Grid column -->
              <div
                class="col-6 col-md-2 col-lg-2 mx-auto mb-4 text-end order-3 order-md-2"
              >
                <!-- Links -->
                <h6 class="fw-bold mb-4">Category</h6>
                <p>
                  <a href="#!" class="text-reset text-decoration-none"
                    >Privacy & Poilicy</a
                  >
                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none"
                    >Terms & Condition</a
                  >
                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none"
                    >Customer Support</a
                  >
                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none"
                    >For Business</a
                  >
                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none"
                    >Support</a
                  >
                </p>
              </div>
              <!-- Grid column -->
              <div
                class="col-6 col-md-3 col-lg-2 mx-auto mb-4 text-end order-4 order-md-3"
              >
                <!-- Links -->
                <h6 class="fw-bold mb-4">Useful links</h6>
                <p>
                  <a href="#!" class="text-reset text-decoration-none"
                    >About Us</a
                  >
                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none"
                    >Refer A Friend</a
                  >
                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none"
                    >Scolarship</a
                  >
                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none"
                    >Marketing</a
                  >
                </p>
                <p>
                  <a href="#!" class="text-reset text-decoration-none"
                    >Free Courses</a
                  >
                </p>
              </div>
              <!-- Grid column -->
              <div
                class="col-6 col-md-4 col-lg-3 mb-md-0 mb-4 text-end order-2 order-md-4"
              >
                <!-- Links -->
                <h6 class="fw-bold mb-4 pe-3">Contact Us</h6>
                <p><i class="fas fa-phone me-3"></i>&ensp; 01719534287</p>
                <p>
                  <i class="fas fa-home me-3"></i>&ensp; Rangpur, Bangladesh
                </p>
                <p>
                  <i class="fas fa-envelope me-3"></i>&ensp;
                  wpdsharia565@gmail.com
                </p>
              </div>
            </div>
          </div>
        </section>

        <!-- Copyright -->
        <div class="text-center border border-top-3 p-3">
          © Copyright 2021 Softfounder
          <a
            class="text-decoration-none text-dark"
            href="https://mdbootstrap.com/"
            >(www.softfounder.com) -
          </a>
          Email: wpdsharia565@gmail.com
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </footer>
  </body>
</html>
