* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ecf4fe;
}

header {
  padding: 2rem 0;
}
header h1 {
  padding: 0.5rem;
}

header h1 .i-book {
  font-size: 1.2rem;
  color: white;
  padding: 0.5rem;
  background-color: #348aff;
  border-radius: 5px;
}
a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

button {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  /* width: 8rem; */
  border-radius: 0.6rem;
  border: 1px solid #348aff;
  background-color: initial;
}
button:hover {
  background-color: #348aff;
  color: white;
}
nav ul {
  padding-right: 1rem;
  /* gap: 1rem; */
}
ul li {
  padding: 1rem 1rem;
  list-style-type: none;
}
ul li:hover {
  background-color: #348aff;
}
ul li:hover a {
  color: white;
}
main {
}
#courses {
  margin-bottom: 10rem;
}
#courses-banner {
  margin-bottom: 5rem;
}
.video {
  border-radius: 5px;
}
.total {
}
img {
  border-radius: 15px;

  width: 100%;
}
.fs-9 {
  color: rgb(2, 2, 65);
  font-size: 4rem;
  padding: 0 7rem 0 0rem;
  margin-bottom: 2rem;
}
#courses-banner .detail h2 {
  padding: 0.3rem 1rem;
  color: #348aff;
  display: inline-block;
  background-color: white;
}
p {
  color: #4e4f51;
  font-size: 1.6rem;
  margin: 2rem 0 2rem 0;
}
.total-show .show {
  text-align: center;
  padding: 0 0.5rem;
  margin: 1rem 0;
}
.total-show .show h1 {
  color: #348aff;
  font-size: 4rem;
  margin: 2rem;
}
.total-show .show p {
  font-size: 1.6rem;
}
#featured-courses {
  text-align: center;
  font-size: 1.6rem;
}
#featured-courses .title {
  margin-bottom: 5rem;
}
.featured-courses-block {
  margin-bottom: 2rem;
}
.featured-courses-item {
  margin-bottom: 1rem;
  border-radius: 15px;
  background-color: white;
  padding: 1rem 1rem;
}
.p-x {
  padding: 0 0.5rem;
}
.m-y {
  margin: 1rem 0;
}
.featured-courses-item .price {
  font-weight: bold;
  margin: 0.98rem;
  color: #348aff;

  display: inline-block;
}
.featured-courses-item h3 {
  text-align: left;
  font-size: 1.9rem;
  margin: 1.5rem 0;
}
.featured-courses-item .detail {
  color: #4e4f51;
}
.featured-courses-item .lessons {
  margin: 2rem 0;
}
.next i {
  color: #929497;
  font-size: 4rem;
}
.next i:hover {
  color: #348aff;
}
.vote,
.next {
  margin-top: 1.5rem;
  /* margin-bottom: 1.5rem; */
}
.next {
  margin-top: -0.02rem;
}
.vote i {
  font-size: 1.6rem;

  color: #348aff;
}
.featured-courses-show {
  /* gap: rem; */
  text-align: left;
}
.learning .d-flex {
  gap: 5rem;
}
.text-primary {
  font-weight: bolder;
  font-size: 3rem;
  color: #348aff;
}
.learning {
  padding: 3rem;
}

.achievements {
  padding-right: 5rem;
}

.achievements .header {
  position: relative;
  margin: 2rem 0;
}
.achievements img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6rem;
  height: 6rem;
}
.achievements h2 {
  margin-left: 8rem;
  margin-top: 2rem;
  display: inline-block;
}
.achievements p {
  margin-top: 3rem;
}
#best-book {
  margin-top: 5rem;
  text-align: center;
}
