* {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

/* begin header */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: #2f3542;
}

nav ul li {
  font-size: 18px;
  font-weight: 400;
  padding: 0px 20px;
  display: inline-block;
  line-height: 60px;
  position: relative;
}
a {
  color: #fff;
  text-decoration: none;
}
li:hover {
  background-color: #a4b0be;
}
.sub-nav {
  border-radius: 5px;
  background-color: #2f3542;
}
.sub-nav ul li {
  /* width: 100px; */
  display: inline-block;
}
.sub-nav {
  /* width: 100px; */

  position: absolute;
  top: 61px;
  left: 0px;
  /* visibility: hidden; */
  display: none;
}
nav li:hover .sub-nav {
  display: block;
  /* visibility: visible; */
}
/* end header */

main {
  display: flex;
  margin-top: 60px;
}
/* begin container left-menu */
#menu-bar {
  /* height: 100%; */
  background-color: #f1f2f6;
  width: 20%;
  padding: 10px 0px;
}
#menu-bar h3 {
  padding: 10px 20px;
}
#menu-bar ul li {
  padding: 10px 20px;
  list-style-type: none;
}
#menu-bar a {
  color: black;
}
/* begin container left-menu */
/* begin section */
#section-group {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
#section-group h1 {
  color: #009688;
  font-size: 30px;
  padding: 20px 0px;
  font-weight: 500;
}
.content-block {
  padding: 30px 0;
  /* letter-spacing: 1px; */
  line-height: 19px;
}
/* end section */
/* begin content-ads */
#ads-group {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 30px 5px;
  text-align: center;
}
#ads-group .content {
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

#ads-group .content:nth-child(odd) {
  height: 100px;
  margin: 5px 0;
}
#ads-group .content:nth-child(even) {
  height: 150px;
}

/* end content-ads */

footer {
  color: #fff;
  height: 50px;
  padding: 10px;
  background-color: #2f3542;
  line-height: 50px;
  text-align: center;
}
