<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link rel="stylesheet" href="assets/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <title>Landinpage</title>
  </head>
  <body>
    <div class="container-fluid">
      <input type="checkbox" hidden id="call-side" />
      <div class="overlay"></div>
      <div id="side-bar">
        <label for="call-side" class="fa fa-close i-close"></label>

        <h2>AdminLTE 3</h2>
        <div class="user-name">
          <a href="#">
            <i class="fas fa-user-circle"></i>
            <span>Username</span>
          </a>
        </div>

        <div class="search-bar">
          <input type="text" name="" id="" />
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </div>
      </div>

      <main>
        <header>
          <label for="call-side" class="menu-bar">
            <i class="fas fa-bars i-open" for="call-open"></i>
          </label>
          <nav>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </header>
        <div id="content">
          <section id="dash-board">
            <div class="title d-flex justify-content-between">
              <h1>DashBoard</h1>
              <span><a href="#">Home</a>/ Dashboard v1</span>
            </div>
            <div class="row shopping-bag row-cols-2 row-cols-lg-4">
              <!-- item 1 -->
              <div class="col shopping-bag">
                <div class="bag bg-purple">
                  <div class="detail">
                    <div class="number">150</div>
                    <a href="#">New Orders</a>
                  </div>
                  <i class="fas fa-shopping-bag i-bag"></i>
                  <div class="info">
                    <a href="#">
                      More info
                      <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- item 2 -->
              <div class="col shopping-bag">
                <div class="bag bg-yellow">
                  <div class="detail">
                    <div class="number">150</div>
                    <a href="#">New Orders</a>
                  </div>
                  <i class="fas fa-shopping-bag i-bag"></i>
                  <div class="info">
                    <a href="#">
                      More info
                      <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- item 3 -->
              <div class="col shopping-bag">
                <div class="bag bg-pink">
                  <div class="detail">
                    <div class="number">150</div>
                    <a href="#">New Orders</a>
                  </div>
                  <i class="fas fa-shopping-bag i-bag"></i>
                  <div class="info">
                    <a href="#">
                      More info
                      <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- item 4 -->
              <div class="col shopping-bag">
                <div class="bag bg-blue">
                  <div class="detail">
                    <div class="number">150</div>
                    <a href="#">New Orders</a>
                  </div>
                  <i class="fas fa-shopping-bag i-bag"></i>
                  <div class="info">
                    <a href="#">
                      More info
                      <i class="far fa-arrow-alt-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="statistical" class="d-lg-flex">
            <div class="recent-sale">
              <table>
                <tr>
                  <h3>Recent Sale</h3>
                </tr>
                <tr>
                  <td>Product name</td>
                  <td>Category</td>
                  <td>Quantity</td>
                  <td>Price</td>
                  <td>Total</td>
                </tr>
                <tr>
                  <td>Name 1</td>
                  <td>Category 1</td>
                  <td>Quantity 1</td>
                  <td>Price 1</td>
                  <td>Total 1</td>
                </tr>
                <tr>
                  <td>Name 1</td>
                  <td>Category 1</td>
                  <td>Quantity 1</td>
                  <td>Price 1</td>
                  <td>Total 1</td>
                </tr>
                <tr>
                  <td>Name 1</td>
                  <td>Category 1</td>
                  <td>Quantity 1</td>
                  <td>Price 1</td>
                  <td>Total 1</td>
                </tr>
                <tr>
                  <td>Name 1</td>
                  <td>Category 1</td>
                  <td>Quantity 1</td>
                  <td>Price 1</td>
                  <td>Total 1</td>
                </tr>
                <tr>
                  <td>Name 1</td>
                  <td>Category 1</td>
                  <td>Quantity 1</td>
                  <td>Price 1</td>
                  <td>Total 1</td>
                </tr>
              </table>
            </div>
            <div class="recent-add">
              <table>
                <tr>
                  <h3>Recent Add</h3>
                </tr>
                <tr>
                  <td>Product name</td>
                  <td>Category</td>
                  <td>Quantity</td>
                </tr>
                <tr>
                  <td>Product name</td>
                  <td>Category</td>
                  <td>Quantity</td>
                </tr>
                <tr>
                  <td>Product name</td>
                  <td>Category</td>
                  <td>Quantity</td>
                </tr>
                <tr>
                  <td>Product name</td>
                  <td>Category</td>
                  <td>Quantity</td>
                </tr>
                <tr>
                  <td>Product name</td>
                  <td>Category</td>
                  <td>Quantity</td>
                </tr>
                <tr>
                  <td>Product name</td>
                  <td>Category</td>
                  <td>Quantity</td>
                </tr>
              </table>
            </div>
          </section>
          <section id="total" class="row row-cols-lg-4 flex-wrap gx-0">
            <div class="col total-item">
              <p class="color-blue">
                <i class="fa fa-caret-up"></i>
                17%
              </p>
              <p>$35,210.43</p>
              <p>total Revenue</p>
            </div>
            <div class="col total-item">
              <p class="color-yellow">
                <i class="fa fa-caret-up"></i>
                17%
              </p>
              <p>$35,210.43</p>
              <p>total cost</p>
            </div>
            <div class="col total-item">
              <p class="color-blue">
                <i class="fa fa-caret-up"></i>
                17%
              </p>
              <p>$35,210.43</p>
              <p>total profit</p>
            </div>
            <div class="col total-item border-0">
              <p class="color-red">
                <i class="fa fa-caret-up"></i>
                17%
              </p>
              <p>$35,210.43</p>
              <p>GOAL COMPLETIONS</p>
            </div>
          </section>
        </div>
        <footer></footer>
      </main>
    </div>
  </body>
</html>
