<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <title>Landinpage</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="d-flex">
          <!-- logo -->
          <h1 class="flex-grow-1">
            <i class="fa-solid fa-book-open fa-2 i-book"></i>
            LEARNING
          </h1>
          <!-- nav -->
          <nav>
            <ul class="d-flex">
              <li><a href="#">Home</a></li>
              <li><a href="#">Course</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Testimonial</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>

          <!-- login -->
          <div class="btn">
            <button type="button">Login</button>
            <button type="button">Register</button>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <section id="courses">
          <div id="courses-banner" class="row">
            <div class="col col-sm-12 col-md-6 col-lg-6 title">
              <h1 class="fs-9">Learn more and make success the result</h1>
            </div>
            <div class="col col-sm-12 col-md-6 col-lg-6 detail">
              <h2>- The best E-learning Platform</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
                eiusmod tempor incidunt labore et dolore magna aliqua eiusmod
                tempor eiusmod.
              </p>
              <div class="btn">
                <button type="button">Show all Courses</button>
              </div>
            </div>
          </div>
          <div id="courses-show" class="row flex-sm-wrap">
            <div class="col-12 col-lg-10 video">
              <a href="#"
                ><img src="assets/imge/bai-giang-e-learning.jpg" alt="" />
              </a>
            </div>
            <div
              class="col-12 col-lg-2 total-show d-flex flex-lg-column flex-md-row flex-sm-row"
            >
              <!-- 1 -->
              <div class="show">
                <h1>15+</h1>
                <p>Total branches opened in last year</p>
              </div>
              <!-- 2 -->
              <div class="show">
                <h1>5K+</h1>
                <p>New students in last 30 days</p>
              </div>
              <!-- 3 -->
              <div class="show">
                <h1>1.5K+</h1>
                <p>New students in last 30 days</p>
              </div>
            </div>
          </div>
        </section>

        <section id="featured-courses">
          <div class="title">
            <h1 class="fs-9">Our Featured Courses</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
              eiusmod tempor incidunt labore et dolore magna aliqua eiusmod
              tempor eiusmod.
            </p>
          </div>
          <div
            class="row row-cols-lg-3 row-cols-md-3 row-cols-2 featured-courses-block"
          >
            <!-- 1 -->
            <div class="col col-lg-4 p-x">
              <div class="featured-courses-item">
                <img src="assets/imge/54981.png" alt="" />
                <div class="d-flex justify-content-between">
                  <div class="btn">
                    <button type="button ">Development</button>
                  </div>
                  <p class="price">$225</p>
                </div>

                <h3>
                  Become a professional designer be with passion & dignity
                </h3>
                <div class="d-flex lessons justify-content-between">
                  <div class="detail">
                    <i class="fa-solid fa-book-open fa-2 i-book"></i>
                    <span>20 lessons</span>
                  </div>
                  <div class="detail">
                    <i class="fa-solid fa-user-group"></i>

                    <span>20 lessons</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="vote">
                    5.0
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (2,589)
                  </div>

                  <div class="next">
                    <a href="#">
                      <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- 2 -->
            <div class="col col-lg-4 p-x">
              <div class="featured-courses-item">
                <img src="assets/imge/21658.png" alt="" />
                <div class="d-flex justify-content-between">
                  <div class="btn">
                    <button type="button">UI/UX Design</button>
                  </div>
                  <p class="price">$180</p>
                </div>

                <h3>
                  Become a professional designer be with passion & dignity
                </h3>
                <div class="d-flex lessons justify-content-between">
                  <div class="detail">
                    <i class="fa-solid fa-book-open fa-2 i-book"></i>
                    <span>20 lessons</span>
                  </div>
                  <div class="detail">
                    <i class="fa-solid fa-user-group"></i>

                    <span>20 lessons</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="vote">
                    5.0
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (2,589)
                  </div>

                  <div class="next">
                    <a href="#">
                      <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--3 -->
            <div class="col col-lg-4 p-x">
              <div class="featured-courses-item">
                <img src="assets/imge/54981.png" alt="" />
                <div class="d-flex justify-content-between">
                  <div class="btn">
                    <button type="button ">Art $ Craft</button>
                  </div>
                  <p class="price">$225</p>
                </div>

                <h3>
                  Become a professional designer be with passion & dignity
                </h3>
                <div class="d-flex lessons justify-content-between">
                  <div class="detail">
                    <i class="fa-solid fa-book-open fa-2 i-book"></i>
                    <span>20 lessons</span>
                  </div>
                  <div class="detail">
                    <i class="fa-solid fa-user-group"></i>

                    <span>20 lessons</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="vote">
                    5.0
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (2,589)
                  </div>

                  <div class="next">
                    <a href="#">
                      <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- 1 -->
            <div class="col col-lg-4 p-x">
              <div class="featured-courses-item">
                <img src="assets/imge/948156.png" alt="" />
                <div class="d-flex justify-content-between">
                  <div class="btn">
                    <button type="button ">Development</button>
                  </div>
                  <p class="price">$225</p>
                </div>

                <h3>
                  Become a professional designer be with passion & dignity
                </h3>
                <div class="d-flex lessons justify-content-between">
                  <div class="detail">
                    <i class="fa-solid fa-book-open fa-2 i-book"></i>
                    <span>20 lessons</span>
                  </div>
                  <div class="detail">
                    <i class="fa-solid fa-user-group"></i>

                    <span>20 lessons</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="vote">
                    5.0
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (2,589)
                  </div>

                  <div class="next">
                    <a href="#">
                      <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- 2 -->
            <div class="col col-lg-4 p-x">
              <div class="featured-courses-item">
                <img src="assets/imge/89416.png" alt="" />
                <div class="d-flex justify-content-between">
                  <div class="btn">
                    <button type="button">UI/UX Design</button>
                  </div>
                  <p class="price">$180</p>
                </div>

                <h3>
                  Become a professional designer be with passion & dignity
                </h3>
                <div class="d-flex lessons justify-content-between">
                  <div class="detail">
                    <i class="fa-solid fa-book-open fa-2 i-book"></i>
                    <span>20 lessons</span>
                  </div>
                  <div class="detail">
                    <i class="fa-solid fa-user-group"></i>

                    <span>20 lessons</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="vote">
                    5.0
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (2,589)
                  </div>

                  <div class="next">
                    <a href="#">
                      <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--3 -->
            <div class="col col-lg-4 p-x">
              <div class="featured-courses-item">
                <img src="assets/imge/948156.png" alt="" />
                <div class="d-flex justify-content-between">
                  <div class="btn">
                    <button type="button">UI/UX Design</button>
                  </div>
                  <p class="price">$180</p>
                </div>

                <h3>
                  Become a professional designer be with passion & dignity
                </h3>
                <div class="d-flex lessons justify-content-between">
                  <div class="detail">
                    <i class="fa-solid fa-book-open fa-2 i-book"></i>
                    <span>20 lessons</span>
                  </div>
                  <div class="detail">
                    <i class="fa-solid fa-user-group"></i>

                    <span>20 lessons</span>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="vote">
                    5.0
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    (2,589)
                  </div>

                  <div class="next">
                    <a href="#">
                      <i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- show -->
          <div class="row featured-courses-show">
            <div class="col-lg-6 col-12 learning">
              <h1 class="fs-9">We Make Your Learning Through Awesome</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
                eiusmod tempor incidunt labore et dolore magna aliqua eiusmod
                tempor eiusmod. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed to eiusmod
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
                eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut
                enim.
              </p>
              <div class="d-flex">
                <span>
                  <h1 class="text-primary">15+</h1>
                  <p>Student</p>
                </span>
                <span>
                  <h1 class="text-primary">125+</h1>
                  <p>Courses</p>
                </span>
                <span>
                  <h1 class="text-primary">200+</h1>
                  <p>Countries</p>
                </span>
              </div>
            </div>

            <div class="col-lg-6 col-12 achievements">
              <div class="header">
                <img src="assets/imge/Frame 26.png" alt="" />
                <h2>Over 5.8k Video Courses</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Soluta illum autem, ex assumenda quam recusandae illo quas
                  laboriosam aperiam libero doloribus provident exercitationem
                  accusamus! Amet maxime iste ad possimus quam.
                </p>
              </div>
              <div class="header">
                <img src="assets/imge/Frame 25.png" alt="" />
                <h2>World Best Instructors Courses</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Soluta illum autem, ex assumenda quam recusandae illo quas
                  laboriosam aperiam libero doloribus provident exercitationem
                  accusamus! Amet maxime iste ad possimus quam.
                </p>
              </div>
              <div class="header">
                <img src="assets/imge/Frame27.png" alt="" />
                <h2>Over 20k</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Soluta illum autem, ex assumenda quam recusandae illo quas
                  laboriosam aperiam libero doloribus provident exercitationem
                  accusamus! Amet maxime iste ad possimus quam.
                </p>
              </div>
            </div>
          </div>
        </section>

        <section id="best-book">
          <div class="title">
            <h1 class="fs-9">Some Best Books</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed to
              eiusmod tempor incidunt labore et dolore magna aliqua eiusmod
              tempor eiusmod.
            </p>
          </div>
        </section>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
